<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ityun社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

    <script type="text/javascript">
        function getId() {
            var message = document.getElementsByClassName("aaa");
            alert("account_id:"+message.id);
        }
    </script>
</head>
<body>

<!--导航栏-->
    <div th:insert="~{header :: copy}"></div>

    <!--
        subscribeEvent
    -->
    <div class="container-fluid main" style="background-image: url('../image/bg.jpg')">
        <div class="row" style="margin: 35px 190px 0 200px; background-color:white ">
            <div class="col-lg-9 col-md-12 col-sm-12  col-xs-12">
                <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
                <hr>


                <div class="media" th:each="question:${list}">

<!--                    <input id="messageInput" th:value="${question.getUser().getAccount_id()}" hidden>-->

                    <div class="media-left">
                        <a href="#" th:href="@{/userInfoUI(account_id=${question.getUser().getAccount_id()})}">

                            <img class="media-object" style="width: 50px;height: 50px;" th:src="${question.getUser().getImage_url() != null && !#strings.isEmpty(question.getUser().getImage_url()) ? question.getUser().getImage_url() : 'https://avatars1.githubusercontent.com/u/46514747?v=4'}">
<!--                            <imagesaa class="media-object" style="width: 50px;height: 50px;" src="https://avatars3.githubusercontent.com/u/55529173?v=4">-->
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${question.getTitle()}"></h4>
                        <span> <span th:text="${question.getLike_count()}"></span>个关注 •
                            <span th:text="${question.getComment_count()}"></span> 个回复 •
                            <span th:text="${question.getView_count()}"></span> 次浏览 •
                            <span th:text="${#calendars.format(question.getGmt_create(),'MM/dd  HH:ss')}"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>热门话题</h3>
            </div>
        </div>
    </div>

</body>
</html>