<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ityun社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<nav class="navbar navbar-from">

    <!--导航栏-->
    <div class="container-fluid" style="background-color: #499ef3" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">ityun社区</span>
            </button>
            <a class="navbar-brand" href="/" style="font-family:'Comic Sans MS' ;color: red ; size:B5"><b>Like-Yun</b></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><font color="white">发现</font><span class="sr-only">(current)</span></a></li>
                <li><a href="#"><font color="white">分享</font></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">文章</font> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/publish"><font color="white">提问</font></a></li>

                <!--判断session中的user是否为空-->
                <li class="dropdown" th:if="${session.user != null}">
                    <!--user存在-->
                    <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                         <font color="white" th:value="${session.user.getName()}"></font>
                         <span class="caret"></span>
 &lt;!&ndash;                     <img class="media-object" style="width: 30px;height: 30px;" th:src="${(session.user.getImage_url() != null && !#strings.isEmpty(session.user.getImage_url())) ? session.user.getImage_url() : 'https://avatars1.githubusercontent.com/u/46514747?v=4'}">&ndash;&gt;

                     </a>-->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <!--                        <font color="white">我的信息</font>-->
                        <img class="media-object" style=" display:inline-block ;width: 25px;height: 25px;" th:src="${(session.user.getImage_url() != null && !#strings.isEmpty(session.user.getImage_url())) ? session.user.getImage_url() : 'https://avatars1.githubusercontent.com/u/46514747?v=4'}">
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#">信息中心</a></li>
                        <li><a href="#">我的资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li class="dropdown" th:if="not ${session.user != null}">
                    <!--use为空, 绑定github的uri地址-->
                    <a href="https://github.com/login/oauth/authorize?client_id=8002259c435d04d1fb41&redirect_uri=http://192.168.5.30:8080/callback&scope=user&state=1"><font color="white">登录</font></a></li>
                </li>
            </ul>
        </div>
    </div>




    <!--主题栏-->

    <div class="container-fluid main" style="background-image: url('../image/bg.jpg')">
        <div class="row" style="margin: 35px 190px 0 200px; background-color:white ">
            <div class="col-lg-9 col-md-12 col-sm-12  col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <hr>
                <div class="alert alert-warning" role="alert">

                    如果你希望他人花 1 分钟来解答你的问题，还请耐心花 10 分钟完善你的提问。<br>

                    补充完整的错误描述，如：<br>
                    软件版本；<br>
                    运行环境；<br>
                    场景/上下文；<br>
                    有用的信息（请使用代码块粘贴，以方便他人查看）；<br>
                    相关查询请求；<br>
                    错误日志；<br>
                    代码块<br>
                </div>

                <form action="/doPublish" method="post">
                    <div class="from-group">
                        <label >问题标题 (简单扼要) :</label>
                        <input type="text" class="form-control" name="title" placeholder="问题标题....." th:value="${title}">
                    </div>
                    <div class="form-group">
                        <label >问题补充 (必填,请参考右侧提示) :</label>
                        <textarea class="form-control" name="description" rows="15" th:text="${description}"></textarea>
                    </div>
                    <div class="from-group">
                        <label >添加标签 :</label>
                        <input type="text" class="form-control" name="tag" placeholder="输入标签,以','号分隔" th:value="${tag}">

                    </div>

                    <span class="alert alert-danger" th:text="${error}" th:if=" ${error != null}"></span>

                    <button type="submit" class="btn btn-success">发布</button>

                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <H4><b>问题发起指南</b></H4>
                <H5>• 问题标题: 请用<b>精简</b>的语言描述您发布的问题，不超过25字<br></H5>
                <H5>• 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br></H5>
                <H5>&nbsp;&nbsp;&nbsp;1. 服务器运行环境信息；<br></H5>
                <H5>&nbsp;&nbsp;&nbsp;2. 软件版本；<br></H5>
                <H5>&nbsp;&nbsp;&nbsp; 3. 问题发生的上下文信息；<br></H5>
                <H5>&nbsp;&nbsp;&nbsp;4. 可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；<br></H5>
                <H5> &nbsp;&nbsp;&nbsp;5. 补充完整的异常和错误信息；<br></H5>
                <H5> &nbsp;&nbsp;&nbsp;6. 注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；<br></H5>
                <H5> • 选择标签: 选择一个或者多个合适的标签，不超过10个字<br></H5>
                <H5> • 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.<br></H5>
               </H5>
            </div>
        </div>
    </div>
</nav>
</body>
</html>